@charset "UTF-8";

.container{
	border: solid 1px #000000;	
}

.goods-ul{
	display: block;
	margin: 0;
	padding: 0;
	padding-left: 30px;
}

.goods-li {
	list-style: none;
	display:inline-block;
	max-width: 250px;
	padding: 10px;
	margin: 5px 2px;
}

.img-goods {
	display: flex;
	height: 200px;
	width: 200px;
	text-align: center;
	align-items: center;
}

.img-goods img {
	width: 100%; 
}

.goods-info {
	display: block;
	text-align: center;
}

.paging-goods {
	clear: both;
	text-align: center;
	font-size: 18px;
	padding: 20px 0;
}

.my-table-row{
	display:table-row;
}

.my-table-cell {
	display: table-cell;
	padding: 10px;
	border: 1px solid #000000;
	min-width: 50px;
	vertical-align: middle;
	text-align: center;
}

.list-title {
	margin:10px auto;
	text-align: center;
}

.sidebar-goods{
	width: 10%;
	float: left;
	padding-top: 105px;
}

.goods-list{
	float: right;
	width: 90%;
	border-left: solid 2px;
}